[2022-01-19 12:37] taoyuanyuan commented on #1941
是的哈，确实入池，不过我们之前测过，性能提升不明显，然后怕有其他坑，就一直没动他，你可以测测看

[2022-01-19 12:41] taoyuanyuan commented on #1941
比如其中有个点就是，如果有conn断链事件，其实是不能及时感知的，因为read协程在执行proxy，可能卡在等待后端响应了。

[2022-01-19 13:55] jizhuozhi commented on #1943
I'll try to understand how MOSN works and evaluate the cost, if possible, I'll implement this feature after Chinese New Year

[2022-01-20 03:22] nejisama commented on #1938
编辑补充 详细方案设计。

[2022-01-21 07:05] nejisama opened #1944 "SDS Client优化"
## 背景

+ 在部分扩展场景需求下，也需要使用SDS获取证书的能力。但是目前的SDS仅提供MOSN的Conn TLS加密服务，也很难获取证书用于其他目的，导致复用SDS逻辑困难。
+ 在部分扩展场景需求中，需要主动进行TLS证书的更新。但是目前仅有启动时注册回调触发证书申请，后续只能被动等待证书服务端进行推送，能力略有欠缺
+ SDS的ACK发送，并没有和Req的发送一起被SendLoop控制，但是都可能会使得RecvLoop收到服务端响应，可能存在一些潜在的并发问题

## 方案

+ 新增同步获取证书的接口，根据证书name返回Secret(包含证书PEM、私钥PEM、RootCA PEM）
+ 新增主动发起异步证书获取接口
+ 修改ACK发送方案，使ACK发送也与Req发送共同由SendLoop管理
### 原设计
![image](https://user-images.git

[2022-01-21 08:35] alpha-baby commented on #1941
因为已经断开连接了，不能及时响应了，对于被代理的 `Http1` 客户端来说应该没啥影响把
并且应该也不影响其他的请求把，可能还有我没想到的其他场景

[2022-01-21 08:45] alpha-baby commented on #1941
我也遇到了坑，就是：
如果我只把这个地方改成 `false` https://github.com/mosn/mosn/blob/master/pkg/stream/http/stream.go#L161

我在用 `wrk` 工具压测的时候，协程就会一直阻塞住，然后经过我 debug 发现是阻塞在了：
https://github.com/mosn/mosn/blob/master/pkg/stream/http/stream.go#L582

但是我分析了下代码，发现在这个地方，会想 channel `s.responseDoneChan` 中写入一个值：
https://github.com/mosn/mosn/blob/master/pkg/stream/http/stream.go#L853

但是上面的那个地方会被阻塞住，就有点想不通。

不过只要把这个 等待的 channel

[2022-01-21 08:56] taoyuanyuan commented on #1941
不影响其他请求哈，就是资源被占用了，本来是可以提前释放的，就是有不少细节需要处理。

[2022-01-21 09:01] alpha-baby commented on #1941
虽然不能特别快的响应  断连 的这个时间，但是也是很快的把，在这里会处理  断连 事件
https://github.com/mosn/mosn/blob/master/pkg/proxy/proxy.go#L218

我感觉 断连 毕竟是少数情况下才会发生，所以资源占用我觉得是可以接受的

[2022-01-21 09:03] taoyuanyuan commented on #1941
看起不应该阻塞哟 看chan有1的缓存呢
确实一般场景的话看不出来明显的优化，只能看看下高并发场景，大连接数场景啥的

[2022-01-21 09:05] alpha-baby commented on #1941
是呀，但是确实就阻塞住了，而且是每次必现，你可以用 `wrk` 复现下

命令如下：

[code]

[2022-01-21 09:12] taoyuanyuan commented on #1941
是压一会就挂，还是一个请求都不行？

[2022-01-21 09:15] alpha-baby commented on #1941
`wrk` 结果：

[code]

mosn 不会挂，wrk 也不会挂
而是一开始压测，mosn 似乎就阻塞住了，好像是只能有一个请求过去，第二个请求就在 mosn 中阻塞住了

[2022-01-21 09:27] alpha-baby commented on #1941
mosn debug 日志
[code]

[2022-01-21 10:51] nejisama commented on #1941
不改workpool 模式也能压来卡死吗？还是必须改workpool

[2022-01-21 10:56] taoyuanyuan commented on #1941
我觉得是不改workpool模式也会卡死，只是不这么容易复现，可以改代码mock下看看

[2022-01-24 02:15] alpha-baby commented on #1941
确实会卡死，我试了下，在这个地方加上一个 sleep 基本就是能复现：

https://github.com/mosn/mosn/blob/7ce0de68bcde5c01b44535925162267f6e8208db/pkg/stream/http/stream.go?_pjax=%23js-repo-pjax-container%2C%20div%5Bitemtype%3D%22http%3A%2F%2Fschema.org%2FSoftwareSourceCode%22%5D%20main%2C%20%5Bdata-pjax-container%5D#L753

wrk 结果：

[code]

qps 很低，说明中途被卡死了的

[2022-01-24 06:31] jizhuozhi commented on #1943
Do we need to slow start according to time? @wangfakang

[2022-01-24 07:08] MengJiapeng opened #1947 "如何在acesslog中获取请求path"
### Your question

http1的method、path信息在request line中，并没有在key-value形式的header里，MOSN的accesslog貌似也没有提供获取request line的变量名，请问有什么办法可以在accesslog中打印请求的path和method么？

### Environment

- MOSN Version

### Logs

- Paste the logs you see.

[2022-01-24 07:36] taoyuanyuan commented on #1947
@MengJiapeng https://github.com/mosn/mosn/blob/7ce0de68bcde5c01b44535925162267f6e8208db/pkg/stream/http/var.go#L45
可以配置http相关的变量

[2022-01-24 07:47] MengJiapeng commented on #1947
好的，谢谢！

[2022-01-24 07:47] #1947 closed

[2022-01-24 08:34] alpha-baby opened #1948 "Http1 serverStream goroutine will be blocked forever"
Http1 protocol's workPool is enable.
We can't use `serverStream` object after `proxy.downStream.OnReceive()`, because it will be recycle.

In here:
https://github.com/mosn/mosn/blob/7ce0de68bcde5c01b44535925162267f6e8208db/pkg/stream/http/stream.go?_pjax=%23js-repo-pjax-container%2C%20div%5Bitemtype%3D%22http%3A%2F%2Fschema.org%2FSoftwareSourceCode%22%5D%20main%2C%20%5Bdata-pjax-container%5D#L582

[2022-01-24 08:43] alpha-baby commented on #1948
Steps to reproduce:

code version:
git commit id: `7ce0de68bcde5c01b44535925162267f6e8208db`

start mosn in examples: sample-http

use `wrk` stress mosn with command: `wrk -t1 -c1 -d5s --latency http://127.0.0.1:2046/`

mosn debug log:

[code]

[2022-01-25 02:41] #1948 closed

[2022-01-25 03:05] MengJiapeng opened #1950 "bug: write accesslog with response header panic"
https://github.com/mosn/mosn/blob/5846b05949b4db771670d90834708a3131876649/pkg/proxy/var.go#L251

We didn't set `upstreamRespHeaders` when response received, there will be a panic when we call the getter method.

[2022-01-25 08:58] wangfakang commented on #1943
enh, using only the time dimension is similar to Envoy‘s [slow-start](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/upstream/load_balancing/slow_start). It may cause the slow-start does not work properly in individual scenarios. For example, when the request arrives, the slow start window has just been restored, as follows:

![image](https://user-images.githubusercontent.com/8215

[2022-01-25 09:49] jizhuozhi commented on #1943
@wangfakang I don't understand what you mean in graphs.

It seems when the host is slow starting, it should be scheduled with the WRR, and we would recalculate the effective weight each time peeked but not using a fixed rate scheduler?

[2022-01-25 11:36] wangfakang commented on #1943
If there is no traffic during slow-start time and the host weight has been restored during this time. This will cause incoming traffic after a slow-start time window to fail to warm up.

[2022-01-25 11:40] jizhuozhi commented on #1943
But why not using ready or health probe by service registries?

[2022-01-25 12:54] wangfakang commented on #1943
My above reply is intended to explain the picture rather than the desired effect of slow-start. BTW It is inelegant to control slow-start by the single dimension of time, as described above:
`using only the time dimension is similar to Envoy‘s slow-start. It may cause the slow-start does not work properly in some scenarios. For example, when the request arrives, the slow start time window has just

[2022-01-26 01:47] #1950 closed

[2022-01-26 03:19] MengJiapeng opened #1951 "MOSN作为Istio Ingress Gateway时SDS拉取证书失败的问题"
当使用MOSN作为istio ingress gateway时，SDS相关配置会存在以下问题：
1. 当在网关配置使用单向证书时，下发下来的LDS TLS相关的配置中将只会有`tls_certificate_sds_secret_configs`属性，没有`combined_validation_context`属性，而当前MOSN校验SDS配置时要求SDS必须同时包含上面两个属性，否则不会去拉取证书。
修改建议：在对SDS配置进行校验时，如果`requireClientCert`的值为`false`，不再强制要求必须包含`validationConfig`配置；
2. 当证书是通过K8s secret挂载而非istio-ca自动生成时，LDS中获取证书的配置将是通过 ADS 接口获取，而非SDS接口，当前MOSN istio/istio152 中的SDS实现仅支持通过SDS接口获取证书。

[2022-01-26 08:44] antJack opened #1954 "[Feature] Improve Variable mechanism"
the variable mechanism should be improved:
1. more doc
2. allow indexed(cached) variable that only equipped with getter
3. add `Get` method for `Variable` interface, ref: [#1946 (comment)](https://github.com/mosn/mosn/pull/1946#discussion_r791716687)

[2022-01-26 10:02] wangfakang opened #1955 "It is not necessary to resetstream when upstream has been responded"
### The New Feature

Describe the new feature you want to support clearly.

### Your scenes

Describe your use scenes (why need this feature).

### Your advice

Describe the advice or solution of this new feature.

### Environment

- MOSN Version

[2022-01-28 02:43] #1955 closed

[2022-01-29 07:25] doujiang24 opened #1957 "listener: need test for restart after stop"
https://github.com/mosn/mosn/pull/1883#issuecomment-1007269952

[2022-02-10 02:28] nejisama commented on #1951
例子中的配置没有看明白应该怎么去获取证书信息；另外istio 1.5.2 是v2的api 也不是v3的

[2022-02-10 02:34] taoyuanyuan commented on #1951
用的是 1.10那个分支吧

[2022-02-10 02:48] nejisama commented on #1951
不使用SDS方式获取证书的方案 是否已经在最新的版本中淘汰了？

[2022-02-10 03:14] nejisama commented on #1944
按照 #1951 的需求，还需要有在不存在CA配置的时候（相当于使用系统默认CA），也能正常使用SDS的功能，这是一个合理的需求，需要在调整中考虑：
初步的方案是，考虑将ValidationConfig 作为一个特殊的索引存在，在证书获取的时候，认为CA已经获取到了。这样不改变整体逻辑的情况下，支持无CA配置的SDS。具体细节待完善

[2022-02-10 06:24] MengJiapeng commented on #1951
我使用的是1.10分支的代码，因此贴的是v3的配置格式，istio版本是1.12.1，使用ADS去获取证书的方案并未被淘汰。

从[Istio-Agent的文档](https://github.com/istio/istio/blob/master/pkg/istio-agent/README.md)来看，SDS接口是用来从Istio的自建CA中获取证书的，主要的应用场景是Mesh内部各个workload之间的mtls通信，而网关处部署的证书是与Mesh外部通信的，因此没有使用SDS接口，转而将其视为一般的XDS资源，走ADS接口。

[2022-02-10 11:20] nejisama commented on #1951
ADS 的接口下，获取证书的TypeURL是什么呢？我看了下 https://github.com/envoyproxy/go-control-plane/tree/main/envoy/service 除了SDS 没有找到你说的通过ADS的资源单独获取证书相关的内容的

[2022-02-10 11:23] nejisama commented on #1951
证书挂载到容器盘以后，获取的LDS配置里包含静态的证书模式，这种场景就不是通过SDS获取证书的。ADS获取的是Listener配置，Listener的TLS配置与SDS无关，就是类似证书路径一样的东西。这种模式MOSN是支持的

[2022-02-10 11:53] nejisama commented on #1951
我对比了下 https://github.com/envoyproxy/go-control-plane/blob/main/envoy/extensions/transport_sockets/tls/v3/tls.pb.go

[2022-02-10 11:59] nejisama commented on #1951
或者你说明一下，假如获得ADS Client以后，应该在什么地方，怎么通过ADS来获取证书并且应用到listener下。比如写一些伪代码

[2022-02-11 02:33] MengJiapeng commented on #1951
ADS接口下，TypeUrl同样是`type.googleapis.com/envoy.extensions.transport_sockets.tls.v3.Secret`，ADS与SDS的区别只在于二者请求的上游地址不一样，其余逻辑都是一样的。
我们仍然可以复用当前SDS获取证书的逻辑，需要做的改动是创建`SdsStreamClient`的逻辑，当前这段逻辑在 `mosn.io/mosn/istio/istio152/sds/sds.go`的`CreateSdsStreamClient`方法中，修改后的逻辑伪代码如下：
[code]

附：如下分别是使用ADS获取证书的LDS配置和使用SDS获证证书的LDS配置，只需要关注 `tls_certificate_sds_secret_configs`下的`sds_config`的区别即可。

使用ADS获取证书的LDS配置：
[code]

[2022-02-11 03:00] nejisama commented on #1951
这个改动相对来说会多一些 需要整体评估一下方案

[2022-02-11 08:26] nejisama commented on #1944
这个内容在 #1938 对应的PR中一起处理掉

[2022-02-16 09:55] antJack opened #1959 "[Feature] add metadata for sds grpc client"
Currently MOSN only support the configuration of `udsPath` and `statPrefix` for sds grpc client:
![image](https://user-images.githubusercontent.com/52443884/154239924-416f0bdf-426f-42e4-b24e-8b2049bd9927.png)

This issue requests for `initial_metadata` for sds grpc client, refer to: https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/core/v3/grpc_service.proto#config-core-v3-grpcservice

[2022-02-18 08:40] doujiang24 opened #1962 "MOSN 2022 roadmap discussion"
2022 主要是推动 MOE 演进，对接更多的生态组件，发布 MOSN 1.0，以及开源一个新的开箱即用的产品。

同时，随着 MOSN 的落地用户越来越多，稳定性建设也是今年的重点发展方向，让大家放心用，用得放心。
欢迎大家一起讨论交流~ 玩得开心~

![image](https://user-images.githubusercontent.com/570391/154647281-9574c520-3d1c-490c-9c77-2729364579ae.png)

refer: [mosn roadmap discussion](https://github.com/mosn/mosn/issues/1559)

[2022-02-18 09:28] xuyang2 commented on #1962
请问国密库 MOSN 有没可能换成用纯go的社区库呢，感觉 cgo 的坑比较多

现在社区有个 go asmblely 的商用密码算法实现库了：
https://github.com/emmansun/gmsm

[2022-02-18 10:04] seeflood commented on #1962
mark

[2022-02-23 09:59] alpha-baby commented on #1962
很多 RPC 框架 SDK 都要去去支持 XDS 协议，然后去支持以 `proxyless` 这样的架构，如果我们把 MOSN 再改改变成 RPC SDK

这样是否有价值呢？欢迎讨论

[2022-02-24 12:17] wangfakang opened #1965 "add variables for xprotocol stream"
### The New Feature

In some scenarios we need to fetch some request values, so we need to add a variables for xprotocol stream, and make it easier for developers to get.

### Your scenes

Describe your use scenes (why need this feature).

### Your advice

Describe the advice or solution of this new feature.

### Environment

- MOSN Version

[2022-03-02 03:21] antJack opened #1969 "Add weigth != 0 Check for Weighted Round Robin LoadBalancer"
When adding item to edfSchduler, we do not check weight != 0, which may causes undefined behavior for MOSN
![image](https://user-images.githubusercontent.com/52443884/156288563-2ced1ff5-dd0b-4d88-823f-17d83f6bbb09.png)

This issue proposes the adding of zero check for MOSN LB, not only for WRR

ref:
![image](https://user-images.githubusercontent.com/52443884/156288688-e666654e-f25e-4f1e-9fd5-26857

[2022-03-02 05:03] alpha-baby commented on #1969
i have another question:

![image](https://user-images.githubusercontent.com/47237632/156298403-58ea706b-213d-4ad4-9973-f0c5123aea19.png)

When `weightFunc` return 0, do we need to remove the iterm from the edf heap?

[2022-03-02 05:21] jizhuozhi commented on #1969
Which condition would we get 0 weight, and if there is only one item, what will be happened if we remove it?

[2022-03-02 05:23] jizhuozhi commented on #1969
I think it's necessary to keep the size of items consistent @alpha-baby @antJack

[2022-03-02 05:28] antJack commented on #1969
what if rounding any weight<=0 to weight=1?

envoy's load_balancing_weight is uint32 and min value is 1.

ref: https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/endpoint/v3/endpoint_components.proto#config-endpoint-v3-lbendpoint

[2022-03-02 05:31] jizhuozhi commented on #1969
Maybe it's not a bug but a feature~~.
We could make it clear in the documentation that we don't accept negative numbers (or negative numbers have the highest priority), and 0 is a fallback, 0 items will not be used until all non-zero items are invalid

[2022-03-02 05:44] antJack commented on #1969
1. `weight=0` will yield `1.0/weight = +Inf` which causes undefined behavior for further code execution. And that's what we should prevent.
2. as for the meaning of `weight<=0`, still cannot imagine in which scenario that we should allow `weight<=0`. Currently I suggest keeping it simple, or there's any scenario?

[2022-03-02 05:48] antJack commented on #1969
MOSN has host weight const： in pkg/configmanager/parser.go
![image](https://user-images.githubusercontent.com/52443884/156302928-66dfcc3e-d38e-4152-b8b6-197b9c5a3542.png)

[2022-03-02 05:55] jizhuozhi commented on #1969
So there is only one problem: what should we do when weightFunc return 0 or less than 0

I think this value can be fixed using a consistent contract

[2022-03-02 06:01] antJack commented on #1969
maybe we should keep consistent: if weightFunc return `<MinHostWeight` then set to `MinHostWeight`, if `> MaxHostWeight` then set to `MaxHostWeight`

[2022-03-07 03:57] jizhuozhi opened #1971 "Constants moved uniformly to v2"
### The New Feature
move constants to pkg/config/v2, since they are common const value.

[2022-03-07 03:58] jizhuozhi commented on #1971
move these to pkg/config/v2, since they are common const value.
[code]

_Originally posted by @antJack in https://github.com/mosn/mosn/pull/1970#discussion_r817439230_

[2022-03-09 02:13] #1969 closed

[2022-03-10 10:23] jizhuozhi commented on #1971
closed

[2022-03-10 10:23] #1971 closed

[2022-03-11 00:48] doujiang24 opened #1977 "bug: GCHeap check can not start again after stop"
we only create the `finCh` in `holmes.New,` and will also it in finalizerCallback when holmes is stoppen.

@songzhibin97 @Jun10ng Thoughts?

[2022-03-21 07:14] antJack opened #1982 "[Feature Request] Add GetRequestRawData() for Xprotocol Frame"
Related PR: https://github.com/mosn/mosn/pull/1972

Is it better to add a method `GetRequestRawData() []byte` for Xprotocol Frame, instead of using variable?

the most critical issue is that we should restrict the usage of `GetRequestRawData`, to prevent the modification of raw data.

[2022-03-21 10:46] cuiweixie opened #1983 "connection that have been closed by idle check use by the pool, and then cause failed"
### Describe the bug

connection that have been closed by idle check use by the pool, and then cause failed

close called here:
https://github.com/mosn/mosn/blob/master/pkg/stream/xprotocol/keepalive.go#L156
error log is here:
https://github.com/mosn/mosn/blob/master/pkg/stream/xprotocol/stream.go#L153

### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete re

[2022-03-22 08:12] unionhu opened #1984 "关于layotto或mosn一些使用问题"
1.如果使用layotto，是不是指定的layotto的一个版本即可，layotto和mosn的版本的升级怎么搞？layotto升级是否有无损的方案？
2.如何通过istio启动layotto？
3.对于iptables的流量劫持和tproxy的流量劫持压测是否有报告？
4.mosn的tproxy流量劫持开启使用文档
5.如果sidecar出现问题了，如何快速的实现不走sidecar，走回原来的调用方式

[2022-03-22 09:14] seeflood commented on #1984
1.如果使用layotto，是不是指定的layotto的一个版本即可
---
是的。
Layotto和mosn是一个进程，可以理解成 layotto=mosn+一个特殊的grpcfilter 打包到一起, 升级 layotto == 升级mosn
layotto和mosn 的版本是一一对应的关系，之前发布的v0.3.0的layotto对应的mosn版本为 v0.24.1
所以：如果使用了 layotto，sidecar镜像里指定layotto的一个版本即可，不用另外再指定 mosn 版本

layotto和mosn的版本的升级怎么搞？
---
用k8s部署、升级，升级sidecar镜像里的 layotto版本即可

layotto升级是否有无损的方案？
---
有，升级 layotto == 升级mosn，mosn 支持平滑升级，做长连接迁移，见
https://mosn.io/docs/

[2022-03-22 12:28] unionhu commented on #1984
具体怎么发送这个信号？

[2022-03-22 12:36] #1984 closed

[2022-03-22 12:43] seeflood commented on #1984
@unionhu 可以看下这篇用 OpenKruise 做原地热升级的分享
https://mosn.io/blog/posts/mosn-sidecarset-hotupgrade/

[2022-03-22 13:17] nejisama opened #1985 "Cluster配置支持upstream_bind_config"
https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/cluster/v3/cluster.proto

upstream_bind_config
([config.core.v3.BindConfig](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/core/v3/address.proto#envoy-v3-api-msg-config-core-v3-bindconfig)) Optional configuration used to bind newly established upstream connections. This overrides any bind_config specified in the bootstrap proto.

[2022-03-24 02:33] greedying commented on #1548
你好。original_dst_lb_config.header_name 解决了转发到自定义 ip 的问题。
如果我需要转发到不同的路径，有办法解决么？
比如 我需要把 `/a/b` 转发到 `1.2.3.4/c/d` 去。
其中 `/a/b` 和 `1.2.3.4/c/d` 的对应关系是动态的，比如对应关系是存储在数据库中的。

@taoyuanyuan

[2022-03-24 03:19] greedying opened #1986 "mosn 是否支持将请求转发到 自定义 ip 和 自定义路径"
### Your question

假设 mosn 收到的请求是 `http://mosn.server.com/a`。
在我私有逻辑里面，把 `a` 映射成了 `http://1.2.3.4:500/b`。
通过 [issue 1548](https://github.com/mosn/mosn/issues/1548)  我找到了 1.2.3.4 这个 ip 的设置方法。
但是没有找到 端口 500 和 路径 `/b` 的设置方法。
请问有办法在转发的时候自定义完整的 `url` 吗?

### Environment

- MOSN Version
v0.26.0

### Logs

- Paste the logs you see.
无

[2022-03-24 06:10] taoyuanyuan commented on #1986
@greedying  如果你自己的逻辑很复杂，那直接可以写个filter，然后修改变量就行了哈，跟ip类似的处理哈
https://github.com/mosn/mosn/blob/71803ed3fa533f924ba437a99d37c8f75e4750f0/pkg/stream/http/stream.go#L939
这篇文章是讲router的，你也可以看看 https://mosn.io/blog/posts/how-use-dynamic-metadata/
通过变量，可以支持很多复杂的业务。

[2022-03-24 06:18] taoyuanyuan commented on #1986
@greedying 你这个述求，光用配置就能搞定哈
https://github.com/mosn/mosn/blob/71803ed3fa533f924ba437a99d37c8f75e4750f0/pkg/config/v2/route.go#L64
`prefix_rewrite` 和 `regex_rewrite`

[2022-03-24 09:44] greedying commented on #1986
配置应该不够。我这里的对应关系很多，而且是可能随时变动的。

[2022-03-24 10:07] greedying commented on #1986
你好。这篇文章我看过，我理解里面的方法，是动态的确定 `cluster`，也就是说配置里面，需要先有 `cluster`配置才行。

修改变量是怎么修改的？哪儿能看到例子吗？谢谢。

[2022-03-24 11:19] taoyuanyuan commented on #1986
你可以看看这个 https://github.com/mosn/mosn/blob/71803ed3fa533f924ba437a99d37c8f75e4750f0/pkg/router/base_rule.go#L289
方法是类似的，你写一个filter，按照你的要求去设置变量 `variable.SetString(ctx, types.VarPath, rewritedPath)`

[2022-03-25 04:13] greedying commented on #1986
我直接在官方的 [simple_filter 示例](https://github.com/mosn/mosn/blob/master/examples/codes/mosn-extensions/simple_streamfilter/simple.go) 中加了这么两行代码
[code]

预期会转发到 `http://1.2.3.4:5678/a/b/c`,  实际上仍然是转发到了 `127.0.0.1:8080`。
我查了下 `api.stream_filter.go` 的代码，接口只定义了 `OnDestroy` 和 `OnReceive` 两个方法，没有我想象中的
`BeforeRoute` 和 `AfterRoute` 方法。
麻烦再帮忙看一下我哪儿理解有误，非常感谢。
有知识星球我也可以加一下

[2022-03-25 04:39] taoyuanyuan commented on #1986
是这样的哈，`variable.SetString(ctx, types.VarHost`塞的只是host头，真正修改转发的ip还是需要 https://github.com/mosn/mosn/issues/1548 这个方法。
你可以加我微信，我拉你  wx：poooint

[2022-03-25 05:02] greedying commented on #1986
好的，谢谢。已加。
我还有两个问题。
1. #1548 需要插 header 头，这个 头是插入的用户的 header 头吗？有没有例子
 我在 `OnReceive` 中使用 `headers.Set('host', 'xxx')` 好像也没用。
2. 即使 `host` 问题解决了，`path`  好像没有办法使用相同方法修改？
3.

[2022-03-25 05:16] taoyuanyuan commented on #1986
@greedying
1. 通过headers.Set就可以了
2. path就用变量就行了， `variable.SetString(ctx, types.VarPath, "/a/b/c")`, 变量修改的是请求的报文， 然后header修改的是真实的转发ip， 其实这个header也应该用变量来做，还没来得及。

[2022-03-25 06:22] taoyuanyuan commented on #1986
代码
[code]

配置
[code]

[2022-03-25 07:04] Bryce-huang opened #1987 "[Feature Request] mosn log time roller support"
### The New Feature

Logs are rotated according to time rules, and supports limiting the maximum number of logs and whether to compress them

### Your scenes

Common O&M Requirements

### Your advice

just  like size rotated

### Environment

v0.22

[2022-03-26 07:45] Jun10ng opened #1989 "stm.newServerC doesn't receive value when Reload"
NoticeStop(Reload) -> runReload() -> 等待newServerC
https://github.com/mosn/mosn/blob/647bb0fe16de924eba8797a0ccb5e4d3b1daf93c/pkg/stagemanager/stage_manager.go#L438

但是newServerC只有在 NoticeStop(Upgrade)的时候才会被写入。
[code]

我理解这里会导致NoticeStop(Reload)被迫执行失败？

[2022-03-26 07:48] Jun10ng commented on #1989
https://github.com/mosn/mosn/blob/647bb0fe16de924eba8797a0ccb5e4d3b1daf93c/pkg/stagemanager/stage_manager.go#L431
没太清楚怎么通知的，能给下路径吗，tks

[2022-03-26 11:41] doujiang24 commented on #1989
https://github.com/mosn/mosn/blob/8ed5fc0104f94dbb2d91afe67c9b022c6c5aec35/pkg/server/reconfigure.go#L136
ReconfigureListener 中有 listen reconfig.sock，new server 启动会通过这个 sock 通知 old server。

不过这里确实有个小 bug，如果 `DisableUpgrade = true`，也就不会 listen `reconfig.sock` 了。
这种时候，跳过等待，输出一个 warn 信息算了，就不保证 new server 一定可以起来了，属于非常规的用法。
欢迎提 PR 修复👍🏻

[2022-03-28 05:05] wangfakang opened #1991 "Xprotocol extension configuration may have minor problems"
### Describe the bug

![image](https://user-images.githubusercontent.com/8215757/160325131-12106fe2-558c-4bd8-b8e5-00f31582a7fd.png)

### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or GitHub URL to code)

### Environment

- MOSN Version

[2022-03-28 05:08] wangfakang commented on #1991
@z2z23n0 here, you can try to fix it.

[2022-03-29 12:13] antJack opened #1994 "[Bug Report] Strict DNS Cluster Do Not Update With All Hosts"
Currently MOSN `strict_dns_cluster` cannot correctly deal with multiple domains.

That is, if we have multiple domains in one single `strict_dns_cluster`,  when the dns resolution of any one domains is done, MOSN will update the whole `strict_dns_cluster` with only `newHosts`, instead of `allHosts`.

The result is that the old hosts in that cluster will be covered out.

![image](https://user-image

[2022-03-30 01:45] taoyuanyuan commented on #1683
#1978

[2022-03-30 01:51] antJack commented on #1994
@Jun10ng interested in this?

[2022-03-31 04:36] greedying commented on #1986
多谢，这样可以实现了

[2022-03-31 04:36] #1986 closed

[2022-03-31 04:50] greedying opened #1995 "自定义配置是怎么获取的"
### Your question

看到 mosn 有自定义配置，点开文档，发现好像内容是错误的？
看了下代码，自定义配置，是支持传入自定义解析函数的。
但是没找到，怎么取出自定义配置。

[code]

如上图，我写了一个自定义配置。
后面希望在一个单独的进程里面读取 abc 的 config，做一些操作
请问我需要调用哪个函数来完成这件事？

### Environment

- MOSN Version

### Logs

- Paste the logs you see.

[2022-03-31 05:37] taoyuanyuan commented on #1995
https://github.com/mosn/mosn/blob/8d976811c04076059b0bd5df1124c154832d1144/pkg/upstream/servicediscovery/dubbod/bootstrap.go#L53
可以看这个例子，你可以用 RegisterParseExtendConfig 注册一个key，配置解析的时候就会调用你的handler，去做你想做的事，比如你可以启动一个协程干啥来着

[2022-03-31 06:18] greedying commented on #1995
谢谢回复。这英嘎就是我说的支持传入自定义函数的方式。

这里是说我只能通过这种方式，自己把配置找个地方存一下对吧。
后续没法使用类似 ` configManager.GetExtend("dubbo_registry")` 的方式获取这个配置

[2022-03-31 06:18] doujiang24 commented on #1987
Sounds reasonable, patches welcome @mosn/developers

[2022-03-31 06:21] doujiang24 commented on #1983
1. this error is safe to retry which is enabled by default.
2. we may fix it by turning the connection close to the goaway style: after fixing the race here: https://github.com/mosn/mosn/pull/1967/commits/4ccb8d87ea38dafd847a29bfbb769e54fa7738f0

[2022-03-31 06:27] taoyuanyuan commented on #1995
目前不行，欢迎 PR ~

[2022-03-31 06:42] greedying commented on #1995
![image](https://user-images.githubusercontent.com/7993339/160992471-0226219e-965a-4f35-8b35-b9ed1dcdc2e2.png)

感觉代码中的例子，和实际结构不太一样

[2022-03-31 06:43] greedying commented on #1995
我再熟悉一下代码，后续试一下

[2022-03-31 06:43] #1995 closed

[2022-04-01 01:16] greedying commented on #1995
好的，这样也够用。

[2022-04-07 08:14] #1944 closed

[2022-04-08 05:50] #1994 closed

[2022-04-09 00:35] doujiang24 commented on #1683
https://github.com/mosn/mosn/pull/1978 is merged, closing.

[2022-04-09 00:35] #1683 closed

[2022-04-09 01:49] doujiang24 commented on #1647
add `/api/v1/version` in the admin API to show the version of the current running mosn.

here maybe a good choice.
![image](https://user-images.githubusercontent.com/570391/162551886-c94aef27-8ead-4ddd-bd5f-1084d28e2145.png)

[2022-04-13 04:15] striveniu opened #2007 "当前mosn好像不支持XDS V3中listener的default_filter_chain"
看源码逻辑，对XDS V3的配置会转换成本地V2版本配置。
但是V3版本listener中有新增default_filter_chain的感念，V2版本没，想问下这个什么时候支持？

- MOSN Version: v0.27.0

[2022-04-13 09:07] dzdx opened #2008 "[enhance] optimize build subset loadbalancer"
### Your scenes
when cluster has too much endpoints (such as > 2k), build subset loadbalancer will cost too much cpu

### Environment

- MOSN Version

[2022-04-13 09:53] dzdx commented on #2008
## benchmark

- 8k endpoints
- 3 labels every endpoint

[code]

[code]

## profile
<img width="1589" alt="image" src="https://user-images.githubusercontent.com/7933207/163142374-9125b111-6831-4d56-9b9b-2bebf2ff3d7d.png">

What consumes the most CPU time is
1. duplication logic in child node setfinalhost
<img width="974" alt="image" src="https://user-images.githubusercontent.com/7933207/163143540-8

[2022-04-13 09:59] dzdx commented on #2008
# advice
## 1. remove redundant deduplication operations

Since setFinalHost has already been called in the simpleCluster passed into the NewSubsetLoadbalancer, it can be considered that the parameter hostSet itself is deduplicated, so any subList in this hostSet does not need to be deduplicated, so it is not necessary to use setFinalHost to construct the subHostSet on the subset loadbalancer. ded

[2022-04-14 10:15] #1939 closed

[2022-04-15 07:03] doujiang24 opened #2012 "test: TestDynamicClusterUpdateHosts may failure randomly in CI."
maybe we can choose another domain instead of `www.baidu.com`?

error message:
[code]

![image](https://user-images.githubusercontent.com/570391/163535342-1d212e36-c9f0-4e7a-8de5-4403376af376.png)

[2022-04-17 06:28] MengJiapeng opened #2015 "关于MoE示例文档的一些疑问"
### Your question

[MOE的示例文档](https://github.com/mosn/mosn/blob/master/pkg/networkextention/README-cn.md)

1. 在文档中，通过配置`envoy.filters.http.golang`这个filter实现了envoy对MOSN七层流量治理能力的复用，请问这个filter本身的代码实现在哪里可以看到呢？
2. 除了复用stream filter，是否也支持复用network filter？

### Environment

- MOSN Version

### Logs

- Paste the logs you see.

[2022-04-18 11:07] doujiang24 commented on #1647
already implemented in #2002

[2022-04-18 11:07] #1647 closed

[2022-04-18 11:16] doujiang24 commented on #2012
maybe it's better to mock it, in this way: https://github.com/mosn/mosn/blob/c9ca4325a175814e5e37e94f05c48b7428caf98c/pkg/upstream/cluster/strict_dns_cluster_test.go#L173

[2022-04-19 04:00] songzhibin97 commented on #2012
assign to me

[2022-04-20 04:05] #2012 closed

[2022-04-20 09:15] antJack commented on #2015
1. envoy filter 目前还没开源
2. 这个内部已经在用了，我们今年就会开源，连同 envoy 侧的都会一起开的

[2022-04-20 09:17] #1982 closed

[2022-04-20 11:45] MengJiapeng commented on #2015
好的，谢谢

[2022-04-20 11:45] #2015 closed

[2022-04-21 02:16] antJack opened #2017 "Proxy Converts StreamLocalReset Error to NoHealthUpstreamCode"
![image](https://user-images.githubusercontent.com/52443884/164358209-3096fbd6-6c1f-49e7-a0eb-af3c46b24616.png)

MOSN will convert StreamLocalReset to NoHealthUpstreamCode, which may cause misbehavior for downstream CE.

[2022-04-22 02:03] doujiang24 commented on #2007
这个目前还没有计划呢
这里还有一些区别，MOSN 还没有支持多 filter-chain
目前 MOSN 是在单个 filter-chain 里，实现了 Envoy 中需要多个 filter-chain 才支持的能力

[2022-04-26 03:07] caofeiliju opened #2020 "mosn支持熔断策略"
### Your question

mosn有以下功能吗？，可否集成？
![image](https://user-images.githubusercontent.com/39721633/165211240-9a367820-46d8-4f09-bf63-b37018514ede.png)
### Environment

- MOSN Version 1.0.0

### Logs

- Paste the logs you see.

[2022-04-26 10:08] bobtthp opened #2021 "部署 Istio 与 MOSN 启动后健康检查失败"
### mson 启动时出现非法内存访问

![113CF42B-92CB-4ECE-BBC8-AC170E79D1AF](https://user-images.githubusercontent.com/23113152/165276624-25c02dc3-7ef4-4e88-94f3-8052cfa896a0.png)

### Environment

k8s version:  1.18.20
istio version: 1.10.6

部署方式按照：
![image](https://user-images.githubusercontent.com/23113152/165276755-510db431-2827-4480-a1b0-bd6f649170c5.png)

- MOSN Version

mson version: 1.0.0
编译mson golang v

[2022-04-26 11:45] nejisama commented on #2021
几个问题没有描述清楚，再说一下？
1. 部署的哪个pod出现的问题啊？
2. 用这种方式更新的镜像，就是单纯的重新编译了一个mosn二进制，还是改了什么内容？如果直接用提供的原始镜像是不是也是同样的问题？

[2022-04-26 15:19] bobtthp commented on #2021
确实是我编译的问题，使用容器镜像golang 版本1.14.13编译没有加goproxy，所以我使用本地1.18编译的后出现了这个问题。
刚刚使用1.14.13版本重新编译，启动正常了。

[2022-04-26 15:19] bobtthp commented on #2021
确实是我编译的问题，使用容器镜像golang 版本1.14.13编译没有加goproxy，所以我使用本地1.18编译的后出现了这个问题。
刚刚使用1.14.13版本重新编译，启动正常了。

[2022-04-27 15:45] striveniu opened #2022 "mosn对envoy.lb的route功能支持是否需要特殊配置？"
### mosn对envoy.lb的route配置不生效

当前通过xds下发配置到mosn以后，发现mosn对envoy.lb功能只是简单的转化为string，没有对这个对象解析。导致路由策略不生效。调试代码以后发现针对route的filter_metadata的转换只是简单的转换为字符串。做了简单修改后就可以实现路由策略生效。**想咨询一下是否是有哪里配置一下即可实现支持envoy.lb？**

### 下发的xds中的route配置。（访问/config_dump获取到）
[code]

### 转换后的route配置（访问/api/v1/config_dump获取到）
[code]

#### 原代码
[code]

#### 修改后代码
[code]

### 相关环境
- 调试环境：MAC
- MOSN Version：v1.0.0

[2022-04-28 02:39] nejisama commented on #2022
应该是要把envoy.lb 转换成mosn.lb才对

[2022-04-28 02:40] nejisama commented on #2022
欢迎贡献PR

[2022-04-28 08:31] paojiao-fengzhua opened #2023 "MOSN 官网文档更新啦！【附文档入门使用指南】"
MOSN 2018 年开源以来，我们建设好官网并做了一部分基础文档。随着 MOSN 各种需求的迭代、更新，逐渐导致官网文档存在比较多缺失，新功能的实现及时更新，原有功能不断重构、优化调整，导致文档描述也不那么准确了。

MOSN 在不断开源，影响力也在增加，拥有更多用户。很多新加入的社区同学，使用的时候会发现这些文档与项目不太匹配。为了配合 MOSN1.0 的发布，打造成熟稳定的社区生态，降低新用户的学习成本，让 MOSN 更易上手。
更新旧文档、填补缺失文档迫在眉睫！

一、完善配置文件
配置文件的说明是最基础的，这些方面缺失的，主要原因是我们不断在更新，以前很多配置只是相当小一部分的子集。我们首要任务补全配置文件，使新用户从配置文档快速了解 MOSN 。而不像之前一样配置文件只有一部分，剩下的怎么配只能去代码里面看。

二、详细描述快速开始

以前的快速开始不太仔细，略过一些我们认为简

[2022-05-01 10:55] rayowang opened #2025 "stageManager reports Error log: "invalid stage function or already started""
When using grpc filter, this error will be reported in the run phase

[code]

- 1.0.0

[2022-05-01 10:56] rayowang commented on #2025
assign

[2022-05-05 07:32] doujiang24 commented on #2020
@ansiz Could you help to take a look at this issue? Thanks.

[2022-05-05 07:33] ansiz commented on #2020
OK

[2022-05-05 08:22] antJack commented on #2017
https://github.com/mosn/mosn/pull/2018

[2022-05-05 08:22] #2017 closed

[2022-05-06 11:09] #2025 closed

[2022-05-26 13:57] YIDWang opened #2037 "trace 的插件化"
## 现状介绍
当前 Trace 主要拆分为 Driver ，Tracer，Span 三个对象进行管理。

- Driver 负责从协议为度管理Tracer 对象，当请求被劫持时刻，当前流会根据协议从 Driver 中获取对应 Tracer 对象。其中 Driver 与 Tracer 为解耦合关系，二者通过 协议名字和 TracerBuilder 注册到 Driver 中。
- Tracer 负责管理和创建 span ，Tracer 可以初始化当前依赖的信息，每个协议需要一个Tracer 对象。
- Span 数据记录的最小单位，会为每一个流程创建一个  Span。

![image](https://user-images.githubusercontent.com/20499178/170493791-c79b2b2b-9905-4ca0-8548-e753c879a96c.png)

[2022-05-27 15:10] jizhuozhi opened #2038 "Support record state attachments in host"
### The New Feature

Support record state attachments in host

### Your scenes

Host is stateful and now I need to record another state into host, so that I could implement some algorithm which depends on the post responses.

### Your advice

Add `GetState(string) interface{}` and `SetState(string, interface{})` methods to `Host` interface.

### Environment

- MOSN Version

[2022-05-28 15:48] junechouiscoming opened #2039 "Some questions with mosn in istio"
**istio: 1.10.6
mosn image: mosnio/proxyv2:v1.0.0-1.10.6**

The thing is, we want to replace istio's envoy with mosn to use dubbo. I modified the config.json of mosn locally and started it, and then implemented the call of the dubbo service according to the tutorial on the official website. The problem is that in istio, the configuration file started by mosn is automatically generated

**So how ca

[2022-05-28 16:42] jizhuozhi commented on #2038
As I know, `Metadata` is of  type `map[string]string`, but lots of state is of type numeric, this will take more conversion steps

[2022-05-28 16:47] jizhuozhi opened #2040 "Mutex of RoundRobinLoadBalancer is not a pointer"
### Describe the bug
Mutex must used as a pointer, but in RoundRobinLoadBalancer is not.

### Expected behavior
[code]

### Actual behavior
[code]

### Environment

- branch master

[2022-05-29 05:02] #2040 closed

[2022-05-30 10:52] #2008 closed

[2022-05-31 12:09] sodaRyCN opened #2042 "mosn支持grpc双向流"
1、请教下，当前mosn是否支持grpc双向流代理。
从[PR](https://github.com/mosn/mosn/issues/999)上看是支持；
从[ISSUE](https://github.com/mosn/mosn/issues/954)上看不支持；

2、从源码上初步看是基于http2标准库实现了[mhttp2.go](https://github.com/mosn/mosn/blob/master/pkg/module/http2/mhttp2.go)，并封装[stream](https://github.com/mosn/mosn/blob/master/pkg/stream/http2/stream.go)来实现双向流支持，我理解是分别使用CreateServerStream和CreateClientStream来分别对接grpc上的上下游，不知道是否有误；

[2022-06-01 09:31] nejisama opened #2043 "Cluster更新存在goroutine泄漏风险"
1. MOSN 目前在更新Cluster的时候，会New一个新的Cluster，然后迁移部分旧Cluster的资源（如Hosts等），但是这里并不是所有的资源都迁移了，像健康检查、DNS Cluster的Resolve解析等，会启动一些异步的goroutine就没有迁移，可能就泄漏了。
不同的ClusterType 需要处理的数据也不一样，这里需要一个相对通用的处理方案。
2. 有的可能还和Hosts 有关（如健康检查），目前ClusterAdapter有Cluster和Host一起更新的接口，但是实际上还是分两步执行的，这里可能就会存在重复执行的问题，并且也会导致数据之间存在一定的差异，需要一期考虑解决

[2022-06-04 15:46] jizhuozhi opened #2044 "The order of weight in edfHeap when same deadline is reversed"
### Describe the bug
The larger the weight, the higher the position in the heap should be, but in edfHeap is reversed
https://github.com/mosn/mosn/blob/4f3eda59bfb1e44b1fc97c04a1411e703ac71b43/pkg/upstream/cluster/edfheap.go#L30-L35

### Environment

- latest

[2022-06-04 16:26] #2044 closed

[2022-06-06 03:01] nejisama opened #2046 "Cluster配置中的LBConfig配置无法通过配置解析"
Cluster配置定义中的LbConfig 是 IsCluster_LbConfig 的接口，这种定义方式默认无法进行json解析，导致配置解析该部分会失败

[2022-06-06 06:58] nejisama commented on #2043
strict dns 在remove的时候也可能存在泄漏。考虑扩展healthcheck实现

[2022-06-06 11:55] nejisama commented on #2043
就资源迁移的方案经过讨论认为不可行，比如健康检查，新的Cluster健康检查配置可能也有更新，如果直接继承旧的数据结构，那么可能造成配置错误。
新方案：对旧资源进行清理

[2022-06-07 02:24] nejisama commented on #2039
maybe you can make a new image see https://mosn.io/docs/user-guide/start/istio/

[2022-06-07 05:48] taoyuanyuan commented on #1810
@songzhibin97  for exmaple，we can enhance `traceInfo` to add upstreamconID.
`[downstreamConnID,upstreamConnID,traceid]`
https://github.com/mosn/mosn/blob/448da0ebe3555eec02822f890ca2682ac052d773/pkg/log/proxylog.go#L109

[2022-06-07 06:10] nejisama commented on #2038
Metadata是host的配置属性，不适合用来做运行时的状态存储。看这个需求更像是需要记录相关的metrics数据

[2022-06-07 06:19] nejisama commented on #2038
或者更类似Resource数据（目前用于记录熔断数据）

[2022-06-07 06:45] nejisama commented on #2038
这里主要有一个问题，就是自定义的扩展数据结构，在什么地方记录。
比如metrics/resource 等数据，都是有固定的地方记录的。 扩展一个state，在哪里可以进行记录不确定，应该也是需要额外写filter来做保存的，如果额外做filter保存的话，是不是直接在filter里记录数据就可以了？这里没有想好

[2022-06-07 08:47] jizhuozhi commented on #2038
Not only host-related metrics that can be obtained in LoadBalancer, but also some contents other than metrics, such as dynamically updated weight

[2022-06-07 09:54] nejisama commented on #2038
Use filter to write or update status of host -> So the status information and host mapping are also recorded directly in the filter ？

[2022-06-07 10:06] jizhuozhi commented on #2038
I still think the status information should be recorded in the `Host` instance like `Metadata` but a generic type and mutable. It seems an anti-pattern that LoadBalancer depends on filters. If no filter set, LoadBalancer can read from `Host` instance and use default value, but if LoadBalancer depends on filters, how does it know which filter used and holds on the status information?

[2022-06-07 10:21] nejisama commented on #2038
Your information relies on the filter to record. Without the filter, there is no data.
 If it is implemented in the host, then there is no good way to record these extended data except for the filter

[2022-06-07 10:24] nejisama commented on #2038
" If no filter set, LoadBalancer can read from Host instance and use default value" -> no filters, no value(default value).
I think the requirements here should not simply be regarded as a load balancing implementation, but an overall functional module, including filter, lb, etc.

[2022-06-07 10:29] nejisama commented on #2038
Adding information in the Host should do some general data similar to resource/metrics, so that it can be counted/obtained uniformly.
There is really no way to identify any type of data stored directly in the host. If it is fixed configuration information, metadata can be used instead.

[2022-06-08 06:24] fibbery opened #2050 "连接的读超时时间是不是统一一下比较好"
https://github.com/mosn/mosn/blob/448da0ebe3555eec02822f890ca2682ac052d773/pkg/server/handler.go#L654
上面这个buffer.ConnReadTimeout是不是统一用下面的连接读超时时间替换比较好，不然感觉挺割裂的
https://github.com/mosn/mosn/blob/448da0ebe3555eec02822f890ca2682ac052d773/pkg/types/network.go#L192

[2022-06-08 06:38] taoyuanyuan commented on #2050
PR welcome ~

[2022-06-08 06:45] fibbery commented on #2050
好，分给我，我处理一下

[2022-06-10 06:50] taoyuanyuan commented on #2050
thank you ~

[2022-06-10 06:50] #2050 closed

[2022-06-10 07:52] jizhuozhi commented on #2038
Yes, it's impactful, it provides a mechanism for sharing instance side effects across multiple components, like `Context`

[2022-06-10 07:54] jizhuozhi commented on #2038
I will try other solutions

[2022-06-10 08:35] MengJiapeng opened #2052 "MOSN多证书匹配机制"
https://github.com/mosn/mosn/blob/bb9f0b53e466079c55862caba8729aca3ac6964f/pkg/mtls/tls_context_manager.go#L90

MOSN一个listener支持部署多本证书，证书匹配规则目前的实现是：顺序遍历所有provider，返回第一个匹配到sni或者ALPN的provider。

这在如下场景会存在问题：
假设我们有两个provider，
第一个provider的证书的cn为 a.com，ALPN为http/1.1
第二个provider的证书的cn为 b.com，ALPN也为http/1.1
此时客户端通过 https://b.com 访问MOSN，那么MOSN会错误地使用第一个provider的TLSConfig（因为第一个provider的ALPN匹配到了）。

一种更合理的实现：只

[2022-06-10 08:50] taoyuanyuan commented on #2052
确实是servername的优先级应该最高，欢迎pr ~

[2022-06-11 06:55] seeflood opened #2054 "[feature request] Let MOSN act as a Redis proxy, like envoy"
### The New Feature
[Envoy can act as a Redis proxy](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/other_protocols/redis) , partitioning commands among instances in a cluster. In this mode, the goals of Envoy are to maintain availability and partition tolerance over consistency.
Since MOSN has the xprotocal framework, I think we can let MOSN act as a Redis proxy, including featur

[2022-06-13 08:19] #2052 closed

[2022-06-18 02:51] #1810 closed

[2022-06-24 08:12] duxin40 opened #2060 "MOSN支持http2后端多连接"
在使用mosn时发现，mosn在连接http2后端时，目前只支持单链接。导致在高并发下，单链接问题成为单机性能的瓶颈。
可否支持一下http2后端多连接能力呢？

[2022-06-24 08:17] taoyuanyuan commented on #2060
https://github.com/mosn/mosn/blob/d5bfc7c73c5911468dfdadfecd8d8a57de4e525d/pkg/stream/xprotocol/connpool_multiplex.go#L51
这儿有个支持多连接的例子，原理大致一样， 小哥有没有兴趣来支持一下？ @duxin40

[2022-06-24 08:26] duxin40 commented on #2060
@taoyuanyuan xprotocol这里的多连接实现我看到了，之前自己也实现了一版，但没有增加keepalive能力，我原本以为http2底层是有keepalive机制所以我不需要管这个。
但是实际验证时发现会偶尔有连接断开的问题。我怀疑这是因为我没有配置keepalive导致的问题，但是我查看mosn，在http2协议实现里，没找到有keepzlive trigger包的实现，就卡在这里了，没办法把keepalive实现。

[2022-06-24 08:37] taoyuanyuan commented on #2060
@duxin40 断链的话可能是server有配置空闲断链， 确实h2没有实现keepalive，但其实是有ping接口的，可以简单实现。因为xprotocol是框架需要兼容各种场景，光是改h2的connpool的话好改一些。

[2022-06-24 08:41] taoyuanyuan commented on #2060
server如果是mosn可以看这个配置
https://github.com/mosn/mosn/blob/d5bfc7c73c5911468dfdadfecd8d8a57de4e525d/pkg/config/v2/server.go#L72
server如果是nginx的话，可以看这个配置
http://nginx.org/en/docs/http/ngx_http_v2_module.html#http2_idle_timeout

[2022-06-24 09:02] duxin40 commented on #2060
@taoyuanyuan 我们这边的server端有很多种类型，server端配置我们不好推动。
所以感觉还是加上keepalive机制比较好，http2的ping接口在哪里实现的呀，有ping接口应该可以实现keepalive机制吧？

[2022-06-24 09:06] taoyuanyuan commented on #2060
https://github.com/mosn/mosn/blob/d5bfc7c73c5911468dfdadfecd8d8a57de4e525d/pkg/stream/http2/stream.go#L1025
有兴趣的话你可以先试着提提pr，我们在一起看看

[2022-06-27 07:50] gaoyanami opened #2063 "集成istio的文档实验网络不可达"
### Describe the bug
mosn集成istio，参考[mosn.io](https://mosn.io/docs/user-guide/start/istio/)

### Expected behavior
以下命令结果成功
[code]
### Actual behavior
[code]

### Steps to reproduce
1. 打开[katacoda](https://www.katacoda.com/mosn/courses/istio/mosn-with-istio)
2. 按照操作文档，执行，执行到第四步的时候会遇到如上问题

[code]

### Minimal yet complete reproducer code (or GitHub URL to code)

### Environment
可以使用[katacoda](https:

[2022-06-27 08:09] nejisama commented on #2063
![image](https://user-images.githubusercontent.com/16449274/175891499-c8c2fecf-eff9-4014-92f0-65731764f25e.png)
测试了一下，grep是有问题，但是分开执行看着是正常的。
katacode在着手关闭 可能有点问题。
如果遇到具体的问题 可以用`kubectl logs $pod -c istio-proxy` 看下mosn的日志 看看是什么错误

[2022-06-27 08:11] #2063 closed

[2022-06-28 03:36] MengJiapeng opened #2064 "MOSN透传客户端证书至后端"
当前是否支持将客户端证书通过头部的方式透传给后端？

[2022-06-28 04:20] taoyuanyuan commented on #2064
没太理解，在什么场景下，这个头部是啥？。。

[2022-06-28 04:31] MengJiapeng commented on #2064
使用MOSN作为集群网关的场景下，在网关侧做TLS终止，但是后端服务又依赖客户端提供的证书做认证。

Envoy对应的功能实现：https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_conn_man/headers#x-forwarded-client-cert

[2022-06-28 05:33] taoyuanyuan commented on #2064
一个简单的做法，修改mosn代码把tls.ConnectionState保存到变量variable中，然后写一个filter模块获取ConnectionState，想塞什么值就塞什么到header。

https://github.com/mosn/mosn/blob/d5bfc7c73c5911468dfdadfecd8d8a57de4e525d/pkg/proxy/proxy.go#L160

[2022-06-28 05:40] taoyuanyuan commented on #2064
https://github.com/mosn/mosn/blob/d5bfc7c73c5911468dfdadfecd8d8a57de4e525d/pkg/filter/stream/ipaccess/stream_filter.go#L49
这样也可以获取conn，然后filter做判断是否tls，然后塞header

[2022-06-28 06:03] MengJiapeng commented on #2064
好的，谢谢

[2022-06-28 06:07] nejisama commented on #2064
如果要做filter 模块，可以直接获取connection 判断是否是tls connection 就可以了 。
[code]

[2022-06-28 06:09] taoyuanyuan commented on #2064
@MengJiapeng 感觉可以做一个通用的filter模块，push给MOSN社区 😄

[2022-06-29 07:34] nejisama opened #2065 "proxy中部分错误日志新增连接信息，方便问题排查"
比如Auto协议识别`proxy.go:OnData` 在报错的时候，额外输出一下对应proxy的连接信息，这样可以更快速的定位到是哪个客户端发送了错误的数据

[2022-06-30 10:26] chenzhiguo opened #2068 "Can't build the project"
### Describe the bug

Can't build the project.

### Expected behavior

### Actual behavior
[code]
### Steps to reproduce
[code]

### Minimal yet complete reproducer code (or GitHub URL to code)

### Environment
On macOS M1 Pro

- MOSN Version  master

[2022-06-30 11:11] nejisama commented on #2068
this tag is exists, see https://github.com/go-xorm/xorm/releases/tag/v0.7.9
it looks like your github configuration have some errors

[2022-07-01 05:04] chenzhiguo commented on #2068
https://github.com/go-xorm/xorm/releases/tag/v0.7.9 这个项目被归档了，403访问被拒绝...

[2022-07-01 09:13] chenzhiguo commented on #2068
原因是我使用的goproxy代理有问题，使用GOPROXY=https://proxy.golang.com.cn,direct会报上面错误。
修改为：GOPROXY=https://goproxy.cn,direct 就可以了。
坑死我了！

[2022-07-01 09:13] #2068 closed

[2022-07-05 10:55] chenzhiguo opened #2069 "There are many `matcher` spelling errors in the code"
### Describe the bug

There are many `matcher` spelling errors in the code.

### Actual behavior
`macther` in code.

[2022-07-06 05:38] #2069 closed

[2022-07-18 10:59] jiebinzhuang opened #2073 "MOSN不支持pilot-agent的prometheus合并请求 /stats/prometheus"
### Your question

MOSN不支持pilot-agent的prometheus合并请求 /stats/prometheus

### Environment

- MOSN 1.0.0

### Logs

![image](https://user-images.githubusercontent.com/33600025/179497520-ff451aef-4e72-4f8c-a234-2ec4e9d3f659.png)

[2022-07-21 07:04] Bryce-huang opened #2074 "xds-server sample"
### The New Feature
xds-server sample

### Your scenes

Describe your use scenes (why need this feature).

### Your advice

Describe the advice or solution of this new feature.

### Environment

- MOSN Version

[2022-07-21 09:24] jialongli opened #2076 "这里如果连接断开,是不是要等待RefreshDelay的时间,才会检测到并尝试重连?"
https://github.com/mosn/mosn/blob/857883d30d979cd5249b96bd857c38cc0b4b3e40/pkg/istio/xds.go#L99

[2022-07-21 09:30] jialongli commented on #2076
重连的触发为啥在sendThread,没有选择send和Recv

[2022-07-21 12:02] jialongli commented on #2076
还有一个疑问,希望能解答哈,这个refreshDelay的作用是定时发起ads请求,这个为啥没有采用istio和mcpServer的做法,使用一个连接,建立连接后去拉,之后都是推. 是有什么考虑么

[2022-07-26 03:17] zonghaishang opened #2078 "ping-pong 在服务方短连接场景，会丢请求"
### Describe the bug

A clear and concise description of what the bug is.

某客户私有协议tcp扩展，并且采用短连接场景(ping-pong)，服务方在响应完后会主动close链接，mosn侧会导致请求丢失

mosn xprotocol pingpong connpool 拿到服务用tcp发送报文，等待Notify

![image](https://user-images.githubusercontent.com/15549777/180915361-b6f09c2c-63f7-467c-98af-0ec082ed7fcb.png)

服务方在处理掉response请求后，发送fin close链接，导致mosn的请求丢失
![image](https://user-images.githubuserconte

[2022-07-26 06:34] taoyuanyuan commented on #2078
https://github.com/mosn/mosn/blob/857883d30d979cd5249b96bd857c38cc0b4b3e40/pkg/config/v2/upstream.go#L92
比较倾向于用该能力支持短链接，欢迎pr

[2022-07-26 08:07] Bryce-huang opened #2079 "support xds update custom filter"
### The New Feature

support xds update custom filter

### Your scenes

use xds-server to update custom filter

### Your advice

Currently mosn does not support xds to dynamically update custom filters, so I recommend adding it when the filter is converted

### Environment

- MOSN Version 1.0.1

[2022-07-27 09:46] Bryce-huang opened #2083 "health check not work with xds"
### Describe the bug

config heath check with xds-server，but health check not work

### Expected behavior

health check work well with xds-server

### Actual behavior

health check not work

### Steps to reproduce

1. config heath check with xds-server
2. close upstream server which config health check

### Minimal yet complete reproducer code (or GitHub URL to code)

### Environment

- MOSN Versi

[2022-07-28 11:26] nejisama commented on #2076
连接断开以后是要等一个间隔才会建连。
xds的配置是可以推送的 不是一定要去拉

[2022-07-28 11:30] nejisama commented on #2076
send/ recv 是可扩展的逻辑 重试的逻辑是统一处理的，所以在sendloop下。 send本身就不去做重试的尝试了

[2022-07-28 11:32] doujiang24 commented on #2073
嗯，目前是不支持的，也欢迎 PR 哟~
不过，后续我们升级到 MOE 架构，这些应该是支持了的呢
MOE 新架构会在接下来几个月开源了~

[2022-07-29 06:35] zonghaishang commented on #2078
MaxRequestPerConn 假设设置成1， 当响应回来时，ping-pong 还是需要放回idleClients。我感觉还是解决不了这个丢请求问题，MaxRequestPerConn处理思路是啥？ 现在场景本质是，每次响应回来，必须close请求

[2022-07-29 07:10] doujiang24 commented on #2037
closing since https://github.com/mosn/mosn/pull/2047 is merged.

[2022-07-29 07:10] #2037 closed

[2022-07-29 08:52] taoyuanyuan commented on #2078
请求超过了MaxRequestPerConn配置的值，就不放回idle，直接关闭连接。类似http connpool的短链接操作。

[2022-08-01 12:53] lawrshen opened #2089 "feature: support Proxy-Wasm v2 ABI"
### The New Feature

为 MOSN 适配社区 Proxy-Wasm v2 开源规范

### Your scenes

目前 MOSN 的 Wasm 框架已经很好的适配了 Proxy-Wasm v1的规范，而随着 Proxy-Wasm 自身的演进和 proxy-wasm-go-host 项目的发展，现也可以增添 v2 部分的支持，规范完整内容可参考 [spec](https://github.com/proxy-wasm/spec/blob/cc53262df056036427476b272fb8f2438aa7975f/abi-versions/vNEXT/README.md)。

本 issue 意在增添 Proxy-Wasm v2 部分的支持。

### Your advice

参考 host 和 sdk 侧对 Proxy-Wasm v2 规范的支持扩充 MOS

[2022-08-02 07:52] PangXing opened #2094 "bug: seata example cannot work."
### Describe the bug

A clear and concise description of what the bug is.
Because  https://github.com/opentrx/seata-golang/tree/v2 had been merge into https://github.com/seata/seata-go. Example of seata is outdate。

### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or GitHub URL to code)

### Environment

- MOSN Version

[2022-08-02 07:53] PangXing commented on #2094
Please assign to me. I would like fix it.

[2022-08-05 02:38] #2079 closed

[2022-08-05 02:40] Bryce-huang commented on #1987
Any change for this issue？

[2022-08-05 03:03] taoyuanyuan commented on #1987
https://github.com/mosn/pkg/pull/63
welcome to review together.

[2022-08-05 08:50] yzj0911 opened #2099 "xds update config but mosn is not update ，use old config"
### Describe the bug

A clear and concise description of what the bug is.

### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or GitHub URL to code)

### Environment

- MOSN Version

[2022-08-05 08:51] #2099 closed

[2022-08-06 12:11] keqingyuan opened #2102 "support dev container for development in Windows, macOS and Linux"
### The New Feature

support dev container that in debain amd64 docker

### Your scenes

development mosn in linux/amd64 container

### Your advice

build debian(amd64) docker whit go runtime and dev tools

### Environment

- MOSN Version

[2022-08-08 06:43] doujiang24 opened #2104 "need test case for envoy.lb in filter_metadata"
ref: https://github.com/mosn/mosn/pull/2024#issuecomment-1122099009

[2022-08-08 07:52] #2074 closed

[2022-08-08 07:57] Bryce-huang opened #2105 "print upstream ip to log when client request"
### The New Feature

When a request comes in, and after routing has occurred, the upstream ip of the route should be printed, which will facilitate troubleshooting.

### Your scenes

Easy to troubleshoot

### Your advice

print upstream to info level log

### Environment

- v1.0.0

[2022-08-08 09:02] taoyuanyuan commented on #2105
PR welocome~

[2022-08-09 06:21] keqingyuan commented on #2102
/assigned

[2022-08-09 06:22] keqingyuan commented on #2102
//assigned

[2022-08-09 06:22] keqingyuan commented on #2102
@taoyuanyuan ,请重新assigned下

[2022-08-11 09:42] fibbery opened #2109 "为什么这个值这么小，可以自定义设置的么"
https://github.com/mosn/mosn/blob/887ab91ea5cedfee7a22eb2b553576a16516f839/pkg/network/connection.go#L46

[2022-08-11 10:50] taoyuanyuan commented on #2109
这儿算是个优化，在大连接数场景下，对于空闲的连接用小buf，可以整体节约很多内存。

[2022-08-12 02:14] #2105 closed

[2022-08-13 12:46] doujiang24 commented on #2109
@fibbery 嗯，可以加个配置，默认还是 128B，欢迎 PR ~

[2022-08-15 02:44] #2083 closed

[2022-08-15 07:44] taoyuanyuan opened #2110 "[feature] Connpool support registration"
### The New Feature
We can support custom connnpool by supporting registration

### Your scenes

Describe your use scenes (why need this feature).

### Your advice

Describe the advice or solution of this new feature.

### Environment

- MOSN Version

[2022-08-16 04:43] taoyuanyuan commented on #2109
我们是需要一个默认buffer配置，但这个值看起是限制大小的，有点不匹配的感觉

[2022-08-16 06:15] dzdx opened #2111 "Proposal: optimize subsetLoadbalancer inused-memory by share hosts in subsetEntries"
# Describe

In most cases, The number of combinations of subset keyvalues are small,  such as
[code]
For most hosts, only the zone attribute is different，so the the hosts corresponding to the following keyvalues are same
[code]
if its hosts are same, wo can share  hosts slice in these subsetEntries

# Benchmark

input is 8000 hosts in 3 zones
other attributes (mosn_aig, mosn_version) are same

cpu

[2022-08-16 06:36] taoyuanyuan commented on #2109
在go的场景下看起来没啥用，我们可以新搞一个连接默认buffer大小的配置项。

[2022-08-16 12:35] mineyouhe opened #2112 "support chunk"
### http1,response support chunk

when http request,server response in http chunk , i test in master branch,not support

[2022-08-21 07:25] chenzhiguo opened #2113 "Request api will be panic"
### Describe the bug

When request `curl -vvv 127.0.0.1:9003/api/v1/get_loglevel`, will be panic.

### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or GitHub URL to code)

### Environment

- MOSN Version: 1.0.1

### Solve
Upgrade `json-iterator` version to 1.1.12

[2022-08-22 10:59] taoyuanyuan opened #2114 "[enhance] BindingConnpool supports GoAway"
### The New Feature

Binding connpool supports GoAway also, the same as mutilplex connpool https://github.com/mosn/mosn/pull/1922/files#diff-8a7c98c53aa9edad4cb028379ccaac2f6c3e54967407635b2035c168d109f718

### Your scenes

Describe your use scenes (why need this feature).

### Your advice

Describe the advice or solution of this new feature.

### Environment

- MOSN Version

[2022-08-25 01:16] #1818 closed

[2022-08-25 01:29] taoyuanyuan commented on #1681
#2078

[2022-08-25 04:27] #1600 closed

[2022-08-31 09:27] Bryce-huang opened #2120 "xds route config not work with regex config"
### Describe the bug

xds route config not work with regex config

### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or GitHub URL to code)

### Environment

- v1.1.0

[2022-09-01 08:42] doujiang24 commented on #2113
@chenzhiguo Could you please paste the backtrace?
Also, it seems you have figured out the solution, please feel free to file a PR, thanks!

[2022-09-01 08:44] doujiang24 commented on #2112
@mineyouhe Could you please describe the "not support" in detail? eg. hit an error message? or unexpected behavior?

[2022-09-09 09:36] kkrrsq opened #2125 "[bug] holmes type options can not enable"
mosn/pkg/holmes/holmes.go
![image](https://user-images.githubusercontent.com/16069934/189316036-e7ab2686-8716-429e-81b5-f67d1ee2624b.png)

holmes/options.go
![image](https://user-images.githubusercontent.com/16069934/189315811-9de2e282-e632-422b-9ef8-b024b3907de3.png)

![image](https://user-images.githubusercontent.com/16069934/189320087-f61960f7-5bd3-4330-bda6-76f86b9b8180.png)

Use the extends c

[2022-09-09 13:39] doujiang24 commented on #2125
@kkrrsq Nice catch, PR welcome ~ Thanks!

ps: using picture is not friendly, please use text and URL, eg. https://github.com/mosn/mosn/blob/master/pkg/holmes/holmes.go#L116

[2022-09-09 15:08] kkrrsq commented on #2125
@doujiang24 OK，THX

[2022-09-13 02:24] AtticusLv opened #2126 "Support for istio latest 1.15.x version"
### The New Feature

istio does not support 1.10.6 version and CVEs. Seak for support for upgrading to latest istio

### Your scenes

Use MOSN as sidecar injection with istio latest 1.15.x version.

### Your advice

Wish MOSN providing the latest building package with istio 1.15.x

### Environment

- MOSN Version: lastest master branch

[2022-09-13 08:03] yejialiango opened #2127 "mosn可以作为http tunnel转发流量吗？"
即图中网关的角色：
![image](https://user-images.githubusercontent.com/43239328/189845749-9c6fd1bc-9469-4c95-a5b8-4852cab27ae7.png)

[2022-09-15 04:03] AtticusLv commented on #2126
is this project still maintained?

seem like nobody is maintaining

[2022-09-15 04:18] taoyuanyuan commented on #2127
目前不支持哈，老哥有兴趣可以一起来搞搞

[2022-09-15 06:22] yejialiango commented on #2127
好，我研究下

[2022-09-15 07:09] taoyuanyuan commented on #2127
可以加下我们的钉钉群   33547952

[2022-09-15 07:25] nejisama commented on #2126
We currently have no plans to upgrade MOSN to the istio version.  If you are interested in upgrading MOSN to istio 1.15, welcome to contribute code

[2022-09-15 07:38] yejialiango commented on #2127
okk

[2022-09-15 09:45] Bryce-huang opened #2128 "Smooth upgrade failed"
### Describe the bug

new mosn can't replace old mosn

### Expected behavior
old mosn is exit ,but new mosn will replace the old
### Actual behavior

### Steps to reproduce

setup old mosn
set up new mosn

### Minimal yet complete reproducer code (or GitHub URL to code)

### Environment

- MOSN Version v1.1.0

[2022-09-27 07:44] rtttech opened #2132 "mosn流量镜像支持哪些协议"
请问mson支持哪些协议的流量镜像(shadow)?

[2022-09-27 08:46] taoyuanyuan commented on #2132
协议无关的，都支持

[2022-09-28 10:06] taoyuanyuan opened #2134 "[bug] We will incorrectly assume the variable not found if the real value is '-'"
### Describe the bug

### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or GitHub URL to code)

### Environment

master

[2022-09-29 02:24] kkrrsq opened #2135 "mosn 作为 sidecar 的两个 bug"
1.这里没有判断 ipv6 地址，会导致 InboundPassthroughClusterIpv6 无限循环
https://github.com/mosn/mosn/blob/82b38b9d10cdc4822ac193a83bf64f72c303e745/istio/istio1106/xds/conv/convert_cluster.go#L73

2.当 hostSet size 为 0 时不会执行 connect，会导致 passthroughCluster 直接报错
https://github.com/mosn/mosn/blob/82b38b9d10cdc4822ac193a83bf64f72c303e745/pkg/filter/network/streamproxy/streamproxy.go#L149

[2022-10-04 04:36] 123liuziming opened #2137 "mosn发送Lds请求时需要填什么参数才能获取到envoy.filters.http.jwt_authn"
我在mosn中写了一个单测尝试去拉取xds的数据
[code]
对于RequestAuthentication，我只有在namespace指定为istio-system时，才能在
![image](https://user-images.githubusercontent.com/32130965/193735238-fb29c2bf-5edb-4800-9734-27bc8a750402.png)
handleLds中查看到配置的RequestAuthentication，而配置namespace为default时，则接收不到相关的RequestAuthentication。所以我想问一下我请求的参数里是缺少了什么信息。
另外，我在apply AuthorizationPolicy的时候是没有上述这个问题的，可以在default namespace里接收到对应的Authorization

[2022-10-05 07:31] 123liuziming commented on #2137
需要再metadata中传一个NAMESPACE

[2022-10-05 07:31] #2137 closed

[2022-10-08 00:45] doujiang24 commented on #2135
多谢反馈，有兴趣提交 PR 不呢？多谢~

[2022-10-11 07:49] taoyuanyuan commented on #2109
https://github.com/mosn/mosn/pull/2133
有同学已经贡献了pr，你试试看

[2022-10-14 08:15] nejisama opened #2143 "duplicate access logs are added in the xds listener config"
<img width="352" alt="image" src="https://user-images.githubusercontent.com/16449274/195797463-2323121b-5bb1-4598-9d70-cd6980f9da14.png">

[2022-10-18 03:08] #2126 closed

[2022-10-18 06:13] codefromthecrypt opened #2145 "Support HTTP Trailers in http and http2 packages"
### The New Feature

Right now, HTTP trailers are not yet supported for reasons including mosn using an old version of fasthttp.

### Your scenes

Without full support for trailers, apps can crash or not know when a proxied server sends them.

### Your advice

Update mosn to latest fasthttp and complete the change. I've attached an incomplete diff as I ran into trouble trying this.

https://github

[2022-10-18 09:09] OrezzerO opened #2146 "Vscode compile problem 'main redeclared in this block'"
### Your question
When I open mosn project by vscode, it prints some error : 'main redeclared in this block'.  I searched for  _resolutions:_
[https://code-maven.com/slides/golang/separate-directories](https://code-maven.com/slides/golang/separate-directories)   or
[https://forum.golangbridge.org/t/main-redeclared-in-this-block-warning/16231](https://forum.golangbridge.org/t/main-redeclared-in-thi

[2022-10-18 12:28] taoyuanyuan commented on #2145
good job， PR welcome ~

[2022-10-18 23:38] codefromthecrypt commented on #2145
@taoyuanyuan before I start, I have a question. Currently, mosn is using go 1.14 which is very long since unsupported. I'm concerned that newer dependencies aren't really made to work with that version of go. Is it possible to upgrade it? If so, I'll do a PR in another change first (currently supported go is 1.18-1.19) https://go.dev/doc/devel/release#policy

[2022-10-19 01:51] taoyuanyuan commented on #2145
@codefromthecrypt  we could upgrade to go 1.18,  welcome~

[2022-10-21 12:38] codefromthecrypt commented on #2145
@taoyuanyuan @antJack PS right now mosn is working with a new http wasm middleware system we're writing, despite trailers not being supported yet. here are some notes if you are interested on the current progress. I'd love some advice on our mosn impl which is our host repo until our api stabalizes. After that, maybe we can make a repo here like exists for proxy-wasm and you can have a CGO-free wa

[2022-10-23 01:42] codefromthecrypt commented on #2145
status update: api and pkg are now up to latest versions, but I need to update the pkg with the trailer apis before versions should be cut there. afterwards we need those versions aligned first in holmes, then mosn itself to move forward See https://github.com/mosn/pkg/issues/66

[2022-10-27 06:17] taoyuanyuan commented on #2089
thank you for your contribution~

[2022-10-27 06:17] #2089 closed

[2022-10-27 06:20] #1965 closed

[2022-10-27 06:20] #1928 closed

[2022-10-27 09:00] taoyuanyuan opened #2153 "Golang update to 1.18"
### The New Feature

Describe the new feature you want to support clearly.

### Your scenes

Describe your use scenes (why need this feature).

### Your advice

Describe the advice or solution of this new feature.

### Environment

- MOSN Version

[2022-10-27 09:06] doujiang24 commented on #2146
Thanks for your report. I think the easy way is ignore these errors.

Anyway, I think separate directories may be a proper way to mute these errors.
PR welcome, if you are insterting to fix it.

[2022-10-28 01:29] taoyuanyuan opened #2155 "Build an image for performance test"
### The New Feature

Describe the new feature you want to support clearly.

### Your scenes

Describe your use scenes (why need this feature).

### Your advice

Describe the advice or solution of this new feature.

### Environment

- MOSN Version

[2022-10-31 02:12] approve1398 opened #2158 "HTTP requests cannot be forward requests using MOSN as Istio's data plane"
### Your question

Describe your question clearly.
当我使用mosn作为istio的边车部署时，按照官方文档完成了镜像替换envoy后，官方的示例bookinfo的运行一切无误，但是在我使用自己的应用部署时遇到了，应用无法读取外部配置中心的问题，我在应用容器内可以ping通配置中心ip，但是使用curl的get请求（和应用get）获取文件的请求出现了connect reset by peer的情况。

### Environment

- MOSN Version
- image:mosnio/proxyv2:v1.0.0-v1.12.6

### Logs

- Paste the logs you see.

istio:1.11.4

[2022-10-31 05:16] taoyuanyuan commented on #2158
我感觉可能是因为egress流量都被mosn劫持了，但是mosn没有这个配置中心的服务配置导致失败了，这儿是可以把默认配置改成不认识的请求就透传， 你可以再发点日志出来我们看看。 @3062  cc

[2022-10-31 05:51] approve1398 commented on #2158
好的，我目前是按照默认的配置启动的，重新尝试之后我把新的日志发出来。

[2022-10-31 07:50] codefromthecrypt opened #2159 "networkextention misspelled"
networkextention is misspelled. It would break people to fix it, but I think it is worth fixing.

[2022-10-31 07:54] approve1398 commented on #2158
我改了下istio的安装参数设置的外部请求都是allow_any策略，但是好像还是不太行，感觉mosn没收到请求。

- **安装参数**
istioctl manifest apply  --set  .values.global.proxy.image="mosnio/proxyv2:v1.0.0-1.10.6" --set meshConfig.defaultConfig.binaryPath="/usr/local/bin/mosn" --set meshConfig.outboundTrafficPolicy.mode=ALLOW_ANY

- **mosn日志**
[code]

[2022-10-31 08:06] codefromthecrypt commented on #2153
https://github.com/mosn/mosn/pull/2160

[2022-10-31 10:09] codefromthecrypt commented on #2153
As a result of this I think we should document that 1.18 is the floor version (due to it being the floor version Go supports). Even if we are slow to move the floor up again it will help. Imagine libraries will start using `any` and any of those dependencies mosn uses will break if we decide that it is not really 1.18 but 1.18 and also 1.16. Whatever the decision is it should be clear. It would be

[2022-10-31 12:10] codefromthecrypt commented on #2153
@taoyuanyuan clearly @antJack does not want go 1.18 to be the minimum version.  What's not clear yet, is what is the minimum version. For example, grpc-go which is one of your deps is 1.16-1.19 at the moment https://github.com/grpc/grpc-go/blob/master/.github/workflows/testing.yml#L36-L71 On the other hand, grpc is more a library than a process, and often times processes can decide more narrow ver

[2022-10-31 12:29] codefromthecrypt commented on #2153
fasthttp also dropped 1.15 https://github.com/valyala/fasthttp/pull/1379

I'd recommend auditing the core dependencies to make sure whatever mosn policy isn't wider than possible to achieve.

[2022-11-01 00:40] codefromthecrypt commented on #2153
added https://github.com/mosn/api/pull/51 to try to reach a point of transparency as without it, it is very hard to decide what effort should be made on this project. For example, the current wasm integration is extremely inefficient. The wasmer option not only uses CGO, but it also uses a lot of reflection. Also that project hasn't done a release since last august. If folks want to modernize, we

[2022-11-01 00:50] codefromthecrypt commented on #2153
I will start documenting the revlocks on this issue.

First is github.com/uber/jaeger-client-go which is revlocked because current version doesn't compile with go 1.16 anymore. It needs at least 1.17

[2022-11-01 00:53] codefromthecrypt commented on #2153
as mentioned on another thread, grpc-go and fasthttp have floor version of 1.16, so are revlocked.. except we already use latest fasthttp so implicitly can't set the floor below 1.16.

[2022-11-01 00:55] codefromthecrypt commented on #2153
go.uber.org/zap also does not build below 1.17 anymore, so this version is revlocked unless minimum is of mosn 1.17

[2022-11-01 00:56] codefromthecrypt commented on #2153
github.com/miekg/dns is also revlocked unless floor version is at least 1.17

[2022-11-01 00:58] codefromthecrypt commented on #2153
I'll stop because I think it is clear the minimum can't be below 1.17 without forgoing security and bugfixes in core dependencies. Because this is already far beyond the 1.14, certainly 1.11, I think it is better to move to 1.18 vs tell people to move from 1.14 then to 1.17 and again to 1.18 soon. Please think about it and let me know.

[2022-11-01 02:03] taoyuanyuan commented on #2153
Thank you very much for your suggestion that indeed we need a mosn policy, we have also discussed this issue and we can refer to Go policy, but to ensure better stability, we will delay a version, for example, Go policy now is 1.17-1.19, our policy will be 1.16-1.18, 1.16 is the minimum version, 1.18 is the recommended version.

[2022-11-01 02:29] codefromthecrypt commented on #2153
@taoyuanyuan actually to be clear go policy isn't 1.17-1.19, it is 1.18-1.19. There is impact including revlock I mentioned about using a version before 1.17 which is already below go's policy.  For example, I need to close the wazero changes and wait for you to at least get to 1.17

Knowing the policy you are suggesting is 2 versions under Go's and also keeps people from upgrading things like Zap

[2022-11-01 03:02] welsper-yang opened #2162 "Is there any demo or implementation that mosn deployed as Per-Node ?"
As title

[2022-11-01 03:14] taoyuanyuan commented on #2153
@codefromthecrypt  my mistake that I thought Go was 1.17-1.19, if Go is 1.18-1.19, then mosn's policy is 1.17-1.18.
However, we do not recommend upgrading all vendors to the latest version directly, and upgrading the versions individually when someone has a need for new features or critical CVEs.

[2022-11-01 03:20] codefromthecrypt commented on #2153
@taoyuanyuan ok I don't plan to update the other libraries. Just note some are very out of date. ex grpc is 12 versions behind latest. You may want to consider occasionally upgrading to keep up to date, but that's up to you.

For me, I'll go back and add the test matrix.

Should we say that mosn binaries are built with latest Go? (currently 1.19) or Go's floor (currently 1.18). Basically even if w

[2022-11-01 05:27] taoyuanyuan commented on #2153
@codefromthecrypt  built with Go's floor,  thx~

[2022-11-01 11:39] #2112 closed

[2022-11-03 02:16] taoyuanyuan opened #2163 "[doc] add adminapi"
### The New Feature

Describe the new feature you want to support clearly.

### Your scenes

Describe your use scenes (why need this feature).

### Your advice

Describe the advice or solution of this new feature.

### Environment

- MOSN Version

[2022-11-04 01:01] #2153 closed

[2022-11-09 01:11] #2110 closed

[2022-11-10 08:52] doujiang24 commented on #2159
@codefromthecrypt Nice catch!
Do you mean `networkextention` in https://github.com/mosn/mosn/tree/master/pkg/networkextention?

It will be replaced by a new implementation, based on https://github.com/mosn/envoy-go-extension
We prefer not to fix it since it will be replaced soon.

Closing it, feel free to open it when you have other questions.

[2022-11-10 08:52] #2159 closed

[2022-11-10 10:31] alpha-baby commented on #2162
there is many demo: https://github.com/mosn/mosn/tree/master/examples/codes

[2022-11-10 11:24] doujiang24 commented on #2162
Does `Per-Node` mean no sidecar?

[2022-11-10 12:02] welsper-yang commented on #2162
yeah, just like istio ambient or cilium service mesh, there is only a shared enovy for each node. Does mosn support such deployment mode currently?

[2022-11-10 13:04] doujiang24 commented on #2162
No demo yet.

Per-Node thing does not matter to MOSN as a proxy platform. You need to care about the independent configurations in the sidecar, after deploy as Per-Node.

[2022-11-11 07:57] YIDWang opened #2175 "metrics 指标管理迁移"
通过查看 metrics 设计实现，期待 metrics 中数据管理功能迁移到 https://github.com/mosn/pkg 项目下。
## metrics 设计实现
metrics 当前实现设计可以拆分三部分： 指标使用， 指标保存， 指标上报。
指标使用：指在数据的流程运行中，使用创建的指标进行数据记录，如果 downstream 接口中 counter 的统计。
metrics 指标保存：对于数据指标创建和读取的管理，目前主要有蚂蚁的 mosn，其他公司的 mosn，已经插件 mosn 在创建指标过程中都需要依赖指标管理 。
metrics 上报：把本次保存的指标数据上报到三方平台，例如 sink 中的 promethus 指标的实现，当前通过 sink 接口实现了metrics上报的可扩展能力。
![image](https://user-images.githubuse

[2022-11-11 08:11] alpha-baby commented on #1943
完全基于时间的预热可能不太好，那可以再加一个基于请求数的预热机制。具体机制如下：

假设 host 的权重应该是 100，要求 30s 和 100 个请求同时满足这两个条件才保证当前 host 的权重预热到 100。

从 envoy 基于时间的预热机制可以知道，随着时间的流逝，可以计算出当前 host 的当前权重，假设为 timeWarmupWeight, 我们也可以基于现在已经有多少个请求发送给了当前 host 计算出当前 host 的当前权重（这里可以设计一个类似 envoy 这种弯曲的抛物线什么的去计算这个当前权重），假设为 requestsWarmupWeight.

我们可以在 timeWarmupWeight， requestsWarmupWeight 这两个值中取一个最小值最为最终的结果，我感觉这样是一个可以解决前面所提到的问题。

[2022-11-11 08:13] nejisama commented on #2175
诉求应该是 扩展在不import mosn.io/mosn的 场景下，可以使用Metrics，这个诉求是合理的
直接将mosn/pkg/metrics 改动到 pkg/metrics下 可能不太合适，需要再想一下

[2022-11-11 08:16] YIDWang commented on #2175
mosn.io/mosn 现在有两个点比较难搞。
1. NewMetrics 这个函数，指标的创建使用一定要依赖这个函数。
2. 指标的上报 一定要依赖 GetAll 函数。

[2022-11-11 08:20] jizhuozhi commented on #1943
Hello, @alpha-baby .

The biggest problem at this moment may not what's measurement should we choose, but how could we record the previous states after the load balancer has been rebuilt.

Until May 4th (my last commit) there is neither delta fetch or timestamp maintained in service instance. So all instances are equal because the information are loosed after rebuilding, Slow-Start doesn't make an

[2022-11-11 08:30] alpha-baby commented on #1943
你这个问题好解决，这里可以拿到 old 的 cluster 和 host, 这样就可以把老的状态迁移到新的对象上面去了
https://github.com/mosn/mosn/blob/master/pkg/upstream/cluster/cluster_manager.go#L197

[2022-11-11 09:58] alpha-baby opened #2176 "【BUG】data race in health flag variable"
### Describe the bug

[A clear and concise description of what the bug is.](https://github.com/mosn/mosn/blob/master/pkg/upstream/cluster/health.go#L46)

### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or GitHub URL to code)

### Environment

- MOSN Version

[2022-11-14 04:33] jizhuozhi commented on #1943
Hello, @wangfakang and @alpha-baby

Maybe we could provide three modes
1. Always bases on the duration elapsed from the host start time.
2. Always bases on the request time and uses the request time as time factor, just like the age of objects in Java's generation garbage collector.
3. Bases on both duration and request time to calculate time factor.

But in my opinion, the third mode is too compl

[2022-11-14 06:14] jizhuozhi commented on #1943
Here is a general formula for slow start using multiple factors

$$
NewWeight = weight * \prod_{i=0}^{n}{f_i(host)}^\frac{1}{\alpha} = weight * (\prod_{i=0}^{n}{f_i(host)})^\frac{1}{\alpha}
$$

Where $f_i(host)$ is using host to calculate a factor.

[2022-11-14 07:12] rayowang opened #2179 "[BUG] Using the weighted lar loadblance sometimes loads unevenly"
### Describe the bug

After the weighted lar runs for a period of time, the setting of the weight is sometimes abnormal. For example, for the enpoiont with the same configuration, the weight setting of 128:1 can make the qps equal.

### Expected behavior

Weight settings should be sensitive and effective

### Actual behavior

Weight setting is invalid

### Steps to reproduce

### Minimal yet compl

[2022-11-14 12:13] rayowang commented on #2179
The problem has been identified.

[2022-11-14 12:13] #2179 closed

[2022-11-15 01:46] alpha-baby commented on #1943
@wangfakang What do you think？

[2022-11-15 02:05] #2155 closed

[2022-11-15 03:31] wangfakang commented on #1943
It can continue to iterate in next versions, but the current version needs to be designed to support slow-start extensions of multiple dimensions.

[2022-11-16 02:14] supercharge-xsy opened #2181 "请问mosn 支持增量订阅xds吗， grpc DeltaAggregatedResources"
### Your question

Describe your question clearly.

### Environment

- MOSN Version

### Logs

- Paste the logs you see.

[2022-11-16 04:04] doujiang24 commented on #2181
xDS 这块还不支持，不过底层的资源是支持增量更新的，感兴趣的话，欢迎共建~

[2022-11-16 07:25] jizhuozhi commented on #1943
This formula could be simplify to

$$
NewWeight = weight * f(host)^\frac{1}{\alpha}
$$

$f(host)$ is used to calculate the slow start factor, which is equivalent to the following formula but can be replaced when using multi-dimensional slow start

$$
f(host) = \prod_{i=0}^{n}{f_i(host)}
$$

[2022-11-23 14:36] hhdssmys opened #2185 "edfheap#edfEntryLess is instable"
### Describe the bug

[code link](https://github.com/mosn/mosn/blob/master/pkg/upstream/cluster/edfheap.go#L32)
[code]
If heap sorting is done by weight, then nodes with higher weights may not be selected when ddl is the same. We should sort by edfEntry.queuedTime. What do you think? @alpha-baby

### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproduce

[2022-11-24 01:29] alpha-baby commented on #2185
good, welcome commit PR to fix this.

[2022-11-24 06:52] jizhuozhi commented on #2185
Hello, @hhdssmys .

Low weight priority is deliberate. You can imagine that in a short time window, we want as many nodes as possible to be selected instead of always being knocked down on the same server. If high weight priority is always As I just said, there are all high-weight nodes in a short window.

But I think the deadline seems to be a valid comparison indicator, and I will consider the b

[2022-11-24 07:12] codefromthecrypt opened #2187 "Too much lint debt"
### Describe the bug

There are too many lint failures as a norm. This makes trying to find new lint problems really hard.

### Expected behavior

zero lint problems as config exists to skip things that are considered acceptable

### Actual behavior

lint problem happens in PR and it is nearly impossible to tell what it is as many screens of lint errors.

### Steps to reproduce

[code]

[2022-11-24 07:57] jizhuozhi commented on #2185
Hello, @hhdssmys and @alpha-baby .

Since $Deadline = Deadline_{prev} + \frac{1}{Weight}$, when $Deadline_a = Deadline_b$ then we prefer to give smaller weight more chance to make traffic more smooth. Using the entry time for comparison seems to hope to give more opportunities to elements selected earlier, but Deadline itself plays the role of a logical clock, so the role of queuedTime is not so c

[2022-11-24 11:07] alpha-baby commented on #2185
https://github.com/envoyproxy/envoy/blob/c58b4eaab93cdc13a786c246dd75cdb26b7a7ce0/source/common/upstream/edf_scheduler.h#L104

envoy 是代码如上，它里面是用的 order_offset_  每次去累加这个值，为什么要去用这样一个值呢？

我理解是因为 heap 排序是不稳定的，所有需要一个逻辑逻辑时钟， @jizhuozhi 的推导是正确的，但是忽略了要给条件就是如果  host 的 weight 相等了，在 heap 中就变成了不稳定排序了，所以我还是觉得需要类似 envoy 里面一样的逻辑时钟，我觉得可以就用一个变量累加就好了，没必要用 time.Now(). 因为这个消耗比较大。

有可能需要担心 order_offset_ 的溢出问题，我觉得这个问题不

[2022-11-25 03:34] jizhuozhi commented on #2185
So I still think that stable sorting under the condition of ensuring a balanced traffic distribution within the time window is a false proposition. Besides, even if we really need a stable sort, then we should replace the heap with a stable sorted data structure instead of thinking about how to use an additional sequence to ensure stability.

[2022-11-25 03:48] alpha-baby commented on #2185
当判断条件是：

`a.queuedTime.Before(b.queuedTime)`

结果是：

你会发现每一轮的结果不是一模一样，这是因为 float  精度问题造成的

[code]

当判断条件是：

`a.weight < b.weight`

结果：

比较上面的结构你会发现并没有上面的均匀，而且每一轮的结构差距更大，这是因为 heap 算法本身是一个不稳定的算法造成的

[code]

[2022-11-27 13:03] #2111 closed

[2022-11-29 09:19] itcai opened #2192 "HotUpgrade Config 热更新配置困惑"
### HotUpgrade Config 热更新配置困惑

Describe your question clearly.
https://mosn.io/blog/posts/mosn-sidecarset-hotupgrade/
根据该文档尝试配置热更新，但文档里有些点比较困惑，表述的不是很清楚。
前提：镜像是我们自己做的，不是官方的示例镜像哈
1，文档中指出需要修改mosn镜像里的etc/supervisor/supervisord.conf文件，是否意味着必须使用supervisor启动管理mosn进程才能够实现热更新。
2，
`{
    "uds_dir": "/home/admin/mosn/logs",
    "inherit_old_mosnconfig": true,
    ...
}`
这个配置看起来是放在最外层的？uds_dir目录是不是任意共享存储都可以？p

[2022-11-30 08:39] antJack opened #2195 "Support Setting Cluster Idle Timeout = 0"
Currently we only set upstream connection's idle timeout in case of cluster.idle_timeout > 0:
<img width="1012" alt="image" src="https://user-images.githubusercontent.com/52443884/204747611-b2432950-8bf3-49e9-99bb-d9291052b3af.png">

this issue requests the ability to set an idle_timeout = 0, to indicate the indefinite idle timeout for upstream connection timeout